.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.webcam-container {
  position: relative;
}

webcam {
  display: block;
}

.action-buttons {
  margin-top: 10px;
}

.snapshots {
  margin-top: 20px;
}

.snapshot {
  margin-top: 10px;
}

.errors {
  margin-top: 20px;
  color: red;
}
